<P>Reactive Form Template</P>
<form [formGroup]="formGrp" submit="login()">
        <div class="form-group">
          <label for="userId">User Id:</label>
          <input 
            name="userId" 
            id="userId"
            type="text"
            (change)="log(userId)"
            class="form-control" 
            formControlName="userId">
            <div *ngIf="userId.touched && userId.errors.spaceCheck" class="alert alert-danger" >
                User Id cannot contain space
             </div>
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" formControlName="pwd">
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" [disabled]="!isFormValid" 
        [ngClass]="{'btn-primary':isFormValid(), 'btn-basic':isFormValid()}">Submit</button>
    </form>